@use 'util' as *;

body{
width: 100%;
min-height: 100vh;
height: 100%;
font-family: var(--inconsolata);
font-size: rem(20);
font-weight: var(--weight-400);
background-color: var(--button-text);
color: var(--text-white);
}