:root{
    /*Neutral*/
    --text-white:hsl(0, 0%, 100%);
    --hint-text: hsl(252, 6%, 83%);
    --form-border:hsl(245, 15%, 58%);
    --form-background: hsla(245, 15%, 58%, 0.2);
    --upload-icon:hsla(245, 15%, 58%, 0.3);
    --border:hsl(245, 19%, 35%);
    --button-text:hsl(248, 70%, 10%);
    /*Button*/
    --button:hsl(7, 88%, 67%);
    --button-hover:hsl(7, 71%, 60%);
    /*Gradient*/
    --gradient-start:hsl(7, 86%, 67%);
    --gradient-end:hsl(0, 0%, 100%);
}
